.item {
  display: flex;
  position: relative;
  margin: 0.1rem 0.25rem;
  width: calc(10- -56px);
  flex-grow: 1;
  background: rgba(128, 128, 128, 0.141);
  width: -moz-max-content;
  justify-content: center;
}

.image {
  width: 150px;
  height: 150px;
  margin: 0.1rem 0.25rem;
}

.image-footer {
  display: flex;
  padding-top: 0.1rem;
  background: rgb(0 0 0 / 54%);
  height: 27px;
  position: absolute;
  width: 100%;
  z-index: 10;

  bottom: 0px;
  justify-content: space-around;
}

.rotate-icon,
.expand-icon,
.delete-icon,
.drag-icon {
  cursor: pointer;
  background: none;
  outline: none;
}
